@import '@fortawesome/fontawesome-svg-core/styles.css';

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?dllntl');
  src: url('../fonts/icomoon.eot?dllntl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dllntl') format('truetype'),
    url('../fonts/icomoon.woff?dllntl') format('woff'),
    url('../fonts/icomoon.svg?dllntl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon_Minus:before {
  content: '\e900';
  color: #000;
}
.icon-Icon_Plus:before {
  content: '\e901';
  color: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Hiragino Sans', 'Noto Sans JP', -apple-system,
    'BlinkMacSystemFont', sans-serif;
  margin: 0;
}
